/*! _button.scss | HR | Css ninja 2020-2021 */

/*
    1. Button base
*/

/* ==========================================================================
1. Button base
========================================================================== */

.button {
    font-family: $font;

    &.is-long-1 {
        min-width: 10rem;
    }

    &.is-long-2 {
        min-width: 12rem;
    }

    &.is-long-3 {
        min-width: 14rem;
    }

    &.is-medium {
        font-size: 1.15rem;
        padding-bottom: calc(0.6em - 1px);
    }

    &.is-large {
        font-size: 1.35rem;
    }
}
