/*! _card.scss | HR | Css ninja 2020-2021 */

/*
    1. Card
    2. Box
*/

/* ==========================================================================
1. Card
========================================================================== */

.card {
    box-shadow: $light-box-shadow;
    border: 1px solid $border;

    .card-footer {
        .card-footer-item {
            color: $medium-text;
            transition: all .3s;

            &:hover {
                color: $primary;
                background: $widget-grey;
            }
        }
    }
}

/* ==========================================================================
2. Box
========================================================================== */

.box {
    box-shadow: $light-box-shadow;
    border: 1px solid $border;
}