/*! _image.scss | HR | Css ninja 2020-2021 */

/*
    1. Object
    2. Special Images
*/

/* ==========================================================================
1. Object
========================================================================== */

.object-cover {
    object-fit: cover !important;
}

.object-contain {
    object-fit: contain !important;
}

/* ==========================================================================
2. Special Images
========================================================================== */

.stick-img {
    min-height: 25rem;
    object-fit: cover;
}

