/*! _tag.scss | HR | Css ninja 2020-2021 */

/*
    1. Tag
*/

/* ==========================================================================
1. Tag
========================================================================== */

.tag {
    font-family: $font;

    &.is-default {
        background: $white;
        border: 1px solid $border;
        box-shadow: $light-box-shadow;
        color: $medium-text;
    }

    &.is-web {
        height: 2.75em;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: .5rem;
    }
}
