/*
    1. Field
    2. Control
    3. Input
    4. Textarea
*/

/* ==========================================================================
1. Field
========================================================================== */

.field {
  > label {
    font-family: var(--font);
    font-size: 0.95rem;
    color: var(--input-label-color);
  }
}

/* ==========================================================================
2. Control
========================================================================== */

.control {
  &.has-icon {
    .form-icon {
      position: absolute;
      left: 0;
      top: 0;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--input-form-icon-color);
      transition: color 0.3s;

      &.is-medium {
        height: 46px;
        width: 46px;
      }

      &.is-large {
        height: 54px;
        width: 54px;
      }

      svg {
        height: 18px;
        width: 18px;
        stroke-width: 1.6px;
        transition: stroke 0.3s;
      }
    }

    .input {
      padding-left: 40px;

      &.is-medium {
        padding-left: 46px;
      }

      &.is-large {
        padding-left: 54px;
      }

      &:focus {
        ~ .form-icon {
          color: var(--primary);
        }
      }
    }
  }
}

/* ==========================================================================
3. Input
========================================================================== */

.input {
  font-family: var(--font);
  transition: all 0.3s;
  box-shadow: none;
  color: var(--input-base-color);
  background: var(--input-base-bg-color);
  border-color: var(--input-base-border-color);

  &:hover {
    border-color: var(--input-base-border-color-hover);
  }

  &:focus {
    box-shadow: var(--light-box-shadow);
    border-color: var(--input-base-border-color-hover);

    ~ .form-icon {
      color: var(--primary) !important;
    }
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  ~ .form-icon {
    transition: color 0.3s;
  }
}

/* ==========================================================================
4. Textarea
========================================================================== */

.textarea {
  transition: all 0.3s;
  box-shadow: none;
  color: var(--input-base-color);
  background: var(--input-base-bg-color);
  border-color: var(--input-base-border-color);

  &:hover {
    border-color: var(--input-base-border-color-hover);
  }

  &:focus {
    box-shadow: var(--light-box-shadow);
    border-color: var(--input-base-border-color-hover);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
