/*
    1. Theme images
    2. State
    3. Border Radius
    4. Border
    5. Height
    6. Width
    7. Margin
    8. Responsive Display
    9. Responsive Flex
    10. Overflow
*/

/* ==========================================================================
1. Theme images
========================================================================== */

.light-image {
  display: inline-block !important;
}

.light-image-block {
  display: block !important;
}

.dark-image-block {
  display: none !important;
}

.dark-image {
  display: none !important;
}

.is-dark {
  .light-image {
    display: none !important;
  }

  .dark-image {
    display: inline-block !important;
  }

  .light-image-block {
    display: none !important;
  }

  .dark-image-block {
    display: block !important;
  }

  .inverted-filter {
    filter: invert(1);
  }
}

.has-background-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.has-background-image-contained {
  background-size: contain !important;
  background-repeat: no-repeat;
}

/* ==========================================================================
2. State
========================================================================== */

.is-hidden {
  display: none !important;
}

.is-disabled {
  pointer-events: none;
  opacity: 60%;
}

.no-click {
  pointer-events: none;
}

/* ==========================================================================
3. Border Radius
========================================================================== */

.is-circle {
  border-radius: 50% !important;
}

.is-rounded-md {
  border-radius: 0.625rem !important;
}

.is-rounded-lg {
  border-radius: 0.825rem !important;
}

/* ==========================================================================
4. Border
========================================================================== */

.has-border {
  border: 1px solid var(--border);
}

.has-light-shadow {
  box-shadow: var(--light-box-shadow);
}

/* ==========================================================================
5. Height
========================================================================== */

.h-full {
  height: 100%;
}

.h-screen {
  min-height: 100vh;
}

/* ==========================================================================
6. Width
========================================================================== */

.w-full {
  width: 100%;
}

.max-w-1\/5 {
  max-width: 20%;
}

.max-w-1\/4 {
  max-width: 25%;
}

.max-w-1\/3 {
  max-width: 33.3%;
}

.max-w-1\/2 {
  max-width: 50%;
}

.max-w-full {
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .max-w-mobile {
    &.max-w-1\/5,
    &.max-w-1\/4,
    &.max-w-1\/3,
    &.max-w-1\/2 {
      max-width: 100% !important;
      width: 100% !important;
      min-width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

/* ==========================================================================
7. Margin
========================================================================== */

.no-m {
  margin: 0 !important;
}

.mx-auto {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ==========================================================================
8. Responsive Display
========================================================================== */

@media only screen and (max-width: 767px) {
  .b-hidden-mobile {
    display: none !important;
  }

  .b-only-mobile {
    display: block !important;
  }

  .b-only-mobile-flex {
    display: flex !important;
  }

  .b-centered-mobile {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .b-hidden-tablet-p {
    display: none !important;
  }

  .b-flex-tablet-p {
    display: flex !important;
  }

  .b-only-tablet-p {
    display: block !important;
  }

  .b-only-tablet-p-flex {
    display: flex !important;
  }

  .b-centered-tablet-p {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    text-align: center;
  }

  .b-centered-tablet-p {
    text-align: center;
  }

  .max-w-tablet-p {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .max-w-tp-6 {
    max-width: 40rem;
  }

  .max-w-tp-5 {
    max-width: 33.75rem;
  }

  .max-w-tp-4 {
    max-width: 27.5rem;
  }

  .max-w-tp-full {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .b-hidden-tablet-l {
    display: none !important;
  }

  .b-flex-tablet-l {
    display: flex !important;
  }

  .b-only-tablet-l {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .b-only-mobile {
    display: none !important;
  }

  .b-only-tablet-p {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  .b-hidden-desktop {
    display: none !important;
  }
}

/* ==========================================================================
9. Responsive Flex
========================================================================== */

@media only screen and (max-width: 767px) {
  .b-only-mobile-flex-wrap {
    flex-wrap: wrap !important;
  }

  .b-columns-half-mobile {
    display: flex;
    flex-wrap: wrap;

    .column {
      width: 50% !important;
      min-width: 50% !important;
      max-width: 50% !important;
    }
  }

  .d-column-mobile {
    flex-direction: column;
  }

  .d-column-r-mobile {
    flex-direction: column-reverse;
  }

  .j-center-mobile {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .b-columns-half-tablet-p {
    display: flex;
    flex-wrap: wrap;

    .column {
      width: 50% !important;
      min-width: 50% !important;
      max-width: 50% !important;
    }
  }

  .b-columns-third-tablet-p {
    display: flex;
    flex-wrap: wrap;

    .column {
      width: 33.3% !important;
      min-width: 33.3% !important;
      max-width: 33.3% !important;
    }
  }

  .d-column-tablet-p {
    flex-direction: column;
  }

  .d-column-r-tablet-p {
    flex-direction: column-reverse;
  }

  .j-center-tablet-p {
    justify-content: center;
  }
}

/* ==========================================================================
7. Scroll helpers
========================================================================== */

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.has-slimscroll {
  &::-webkit-scrollbar {
    width: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background: rgba(0, 0, 0, 0.2) !important;
  }
}
