/*! _navbar.scss | HR | Css ninja 2020-2021 */

/*
    1. Navbar
*/

/* ==========================================================================
1. Navbar
========================================================================== */

.navbar {
  height: 70px;
  transition: all 0.3s;

  &.is-fade {
    background: transparent;

    &.is-scrolled {
      background: var(--navbar-bg-color);
      box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
    }
  }

  &.is-solid {
    background: var(--navbar-bg-color);
    box-shadow: none;

    .navbar-menu {
      border-bottom: 1px solid var(--navbar-border-color);
    }
  }

  &.is-centered {
    .navbar-brand {
      display: none;
    }

    .navbar-menu {
      justify-content: space-between;

      .navbar-start,
      .navbar-end {
        width: 20%;
      }

      .navbar-start {
        .left-brand {
          display: flex;
          align-items: center;

          .navbar-item {
            img {
              display: block;
              width: 100%;
              max-width: 38px;
              max-height: 38px;
            }
          }
        }
      }

      .navbar-center {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .centered-brand {
          .navbar-item {
            img {
              display: block;
              width: 100%;
              max-width: 38px;
              max-height: 38px;
              margin: 0 auto;
            }
          }
        }

        .navbar-item {
          &.is-search {
            flex-grow: 2;
            max-width: 450px;
            margin: 0 auto;

            .control {
              position: relative;
              width: 100%;

              .icon {
                z-index: 5;

                &.is-close {
                  display: none;

                  svg {
                    height: 22px;
                    width: 22px;
                  }
                }
              }

              .search-results {
                position: absolute;
                top: 64px;
                left: 0;
                width: 100%;
                max-height: 290px;
                min-height: 290px;
                overflow-y: auto;
                background: var(--card-bg-color);
                opacity: 0;
                border: 1px solid var(--card-border-color);
                border-radius: 4px;
                pointer-events: none;
                transform: translateY(5px);
                text-align: left;
                box-shadow: var(--light-box-shadow);
                transition: all 0.3s;

                &.is-active {
                  opacity: 1;
                  pointer-events: all;
                  transform: translateY(0);
                }

                .placeholder-wrap {
                  min-height: 285px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0 20px;

                  .placeholder-content {
                    img {
                      display: block;
                      margin: 0 auto 16px auto;
                      max-width: 140px;
                      max-height: 100px;
                    }

                    h3 {
                      font-family: var(--font-alt);
                      font-weight: 600;
                      color: var(--title-color);
                      padding: 0;
                    }

                    p {
                      color: var(--light-text);
                      font-family: var(--font);
                      font-size: 0.95rem;
                      max-width: 420px;
                      margin: 0 auto;
                    }
                  }
                }

                .search-result {
                  display: flex;
                  align-items: center;
                  padding: 16px;
                  border-bottom: 1px solid var(--card-border-color);
                  transition: all 0.3s;

                  &:last-child {
                    border-bottom: none;
                  }

                  &:hover {
                    background: var(--dropdown-bg-color-hover);
                  }

                  img {
                    display: block;
                    height: 38px;
                    width: 38px;
                    max-height: 38px;

                    &.avatar {
                      border-radius: 50%;
                    }

                    &.article {
                      border-radius: 2px;
                    }
                  }

                  .meta {
                    margin-left: 12px;

                    span {
                      display: block;
                      line-height: 1.3;

                      &:first-child {
                        font-family: var(--font-alt);
                        font-weight: 500;
                        font-size: 0.9rem;
                        color: var(--title-color);
                      }

                      &:nth-child(2) {
                        font-size: 0.85rem;
                        color: var(--light-text);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .navbar-brand {
    height: 70px;

    .navbar-logo {
      display: block;
      width: 100%;
      max-width: 38px;
      max-height: 38px;
    }

    .navbar-burger {
      height: 70px;
      width: 70px;
    }
  }

  .navbar-item {
    font-family: var(--font);
    color: var(--medium-text);
    transition: color 0.3s;

    &:hover {
      color: var(--primary);
    }

    &.has-dropdown {
      .navbar-link {
        color: var(--medium-text);

        &:hover {
          color: var(--primary);
        }
      }

      .navbar-dropdown {
        width: 240px;
      }
    }

    > .social-item {
      color: var(--medium-text);
      transition: color 0.3s;

      &:hover {
        color: var(--primary);
      }
    }

    > .button {
      min-height: 44px;
      min-width: 110px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    &.is-centered {
      &:not(.no-nav) {
        .navbar-brand {
          display: flex;
        }

        .navbar-menu {
          .navbar-center {
            display: none;
          }
        }
      }

      &.no-nav {
        .navbar-menu {
          display: flex !important;
          padding: 0 !important;
          box-shadow: none !important;
          background: transparent !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    &.is-centered {
      &.is-search-mobile {
        .navbar-brand {
          display: none;
        }

        .navbar-menu {
          display: flex;

          .navbar-center {
            display: flex !important;

            .navbar-item {
              &.is-search {
                .input {
                  padding-right: 44px !important;
                }

                .icon {
                  &.is-close {
                    display: flex;
                  }
                }
              }
            }
          }

          .navbar-start,
          .navbar-end {
            display: none !important;
          }
        }
      }

      .navbar-menu {
        .navbar-start {
          display: none !important;
        }

        .navbar-end {
          width: 100% !important;
        }

        .navbar-center {
          .navbar-item {
            &.is-search {
              .icon {
                &.is-close {
                  display: flex;
                  pointer-events: all !important;
                }
              }

              .search-results {
                position: fixed !important;
                top: 80px !important;
                margin: 0 10px !important;
                width: calc(100% - 20px) !important;
              }
            }
          }
        }
      }
    }

    .navbar-menu {
      text-align: center;

      .navbar-item {
        width: 100%;

        &.has-dropdown {
          .navbar-dropdown {
            width: 100%;
          }
        }

        .button {
          min-height: 46px;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .navbar {
    &.is-centered {
      &.is-search-mobile {
        .navbar-brand {
          display: none;
        }

        .navbar-menu {
          display: flex;

          .navbar-center {
            display: flex !important;

            .navbar-item {
              &.is-search {
                .input {
                  padding-right: 44px !important;
                }

                .icon {
                  &.is-close {
                    display: flex;
                    pointer-events: all !important;
                  }
                }

                .search-results {
                  position: fixed !important;
                  top: 80px !important;
                  margin: 0 10px !important;
                  width: calc(100% - 20px) !important;
                }
              }
            }
          }

          .navbar-start,
          .navbar-end {
            display: none !important;
          }
        }
      }
      .navbar-menu {
        .navbar-start {
          display: none !important;
        }

        .navbar-end {
          width: 100% !important;
        }
      }
    }

    .navbar-menu {
      max-width: 100%;

      .navbar-item {
        &.has-dropdown {
          .navbar-dropdown {
            width: 100%;
          }
        }

        .button {
          min-height: 46px;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .navbar {
    &.is-centered {
      .navbar-brand {
        display: none !important;
      }
      .navbar-menu {
        .navbar-start {
          width: 30%;
        }

        .navbar-center {
          display: flex !important;
        }

        .navbar-end {
          width: 30%;
        }
      }
    }
  }
}
