/*! _tag.scss | Houseo | Css ninja 2020-2021 */

/*
    1. Tag
*/

/* ==========================================================================
1. Tag
========================================================================== */

.tag:not(body) {
    display: inline-block;
    line-height: 2.5;
    height: 2.5em;
    font-family: var(--font);
  
    &:not(.is-primary):not(.is-success):not(.is-info):not(.is-warning):not(.is-danger):not(.is-green):not(.is-blue):not(.is-orange):not(.is-purple):not(.is-solid) {
      background: var(--tag-default-bg-color);
      color: var(--tag-default-color);
    }
  
    &.is-rounded {
      padding-left: 1em;
      padding-right: 1em;
    }
  
    &.is-curved {
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 0.5rem;
    }
  
    &.is-elevated {
      box-shadow: var(--light-box-shadow);
    }
  
    &.is-default {
      background: var(--tag-default-bg-color);
      box-shadow: var(--light-box-shadow);
      color: var(--tag-default-color);
    }
  
    &.is-solid {
      background: var(--tag-solid-bg-color);
      border: 1px solid var(--tag-solid-border-color);
      color: var(--light-text);
      line-height: 1.8;
    }
  
    &.is-primary {
      &.is-elevated {
        box-shadow: var(--primary-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--primary);
        border: 1px solid var(--primary);
      }
    }
  
    &.is-success {
      color: var(--white);
  
      &.is-elevated {
        box-shadow: var(--success-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--success);
        border: 1px solid var(--success);
      }
    }
  
    &.is-info {
      &.is-elevated {
        box-shadow: var(--info-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--info);
        border: 1px solid var(--info);
      }
    }
  
    &.is-warning {
      &.is-elevated {
        box-shadow: var(--warning-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--warning);
        border: 1px solid var(--warning);
      }
    }
  
    &.is-danger {
      &.is-elevated {
        box-shadow: var(--danger-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--danger);
        border: 1px solid var(--danger);
      }
    }
  
    &.is-blue {
      background: var(--blue);
      color: var(--white);
  
      &.is-elevated {
        box-shadow: var(--blue-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--blue);
        border: 1px solid var(--blue);
      }
    }
  
    &.is-green {
      background: var(--green);
      color: var(--white);
  
      &.is-elevated {
        box-shadow: var(--green-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--green);
        border: 1px solid var(--green);
      }
    }
  
    &.is-purple {
      background: var(--purple);
      color: var(--white);
  
      &.is-elevated {
        box-shadow: var(--purple-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--purple);
        border: 1px solid var(--purple);
      }
    }
  
    &.is-orange {
      background: var(--orange);
      color: var(--white);
  
      &.is-elevated {
        box-shadow: var(--orange-box-shadow);
      }
  
      &.is-outlined {
        background: none !important;
        color: var(--orange);
        border: 1px solid var(--orange);
      }
    }
  }
  