:root {
  --html-bg-color: rgb(255, 255, 255);
}

:root {
  --wrap-bg-color: rgb(255, 255, 255);
  --wrap-bg-color-heavy: rgb(255, 255, 255);
  --wrap-inverted-bg: rgb(255, 255, 255);
}

:root {
  --code-color: rgb(6, 214, 158);
}

.is-dark {
  --code-color: rgb(6, 214, 158);
}

:root {
  --button-base-bg-color: rgb(255, 255, 255);
  --button-light-color-inverted: rgb(255, 255, 255);
  --button-light-bg-color-inverted: rgb(255, 255, 255);
  --button-light-border-color-inverted: rgb(255, 255, 255);
  --button-primary-color: rgb(255, 255, 255);
  --button-primary-color-inverted: rgb(56, 97, 229);
  --button-primary-bg-color: rgb(56, 97, 229);
  --button-primary-border-color: rgb(56, 97, 229);
  --button-secondary-color: rgb(255, 255, 255);
  --button-success-color: rgb(255, 255, 255);
  --button-success-color-inverted: rgb(6, 214, 158);
  --button-success-bg-color: rgb(6, 214, 158);
  --button-success-border-color: rgb(6, 214, 158);
  --button-info-color: rgb(255, 255, 255);
  --button-info-color-inverted: rgb(3, 152, 226);
  --button-info-bg-color: rgb(3, 152, 226);
  --button-info-border-color: rgb(3, 152, 226);
  --button-warning-color: rgb(255, 255, 255);
  --button-warning-color-inverted: rgb(250, 173, 66);
  --button-warning-bg-color: rgb(250, 173, 66);
  --button-warning-border-color: rgb(250, 173, 66);
  --button-danger-color: rgb(255, 255, 255);
  --button-danger-color-inverted: rgb(230, 41, 100);
  --button-danger-bg-color: rgb(230, 41, 100);
  --button-danger-border-color: rgb(230, 41, 100);
}

:root {
  --card-bg-color: rgb(255, 255, 255);
}

:root {
  --dropdown-bg-color: rgb(255, 255, 255);
}

:root {
  --tag-solid-bg-color: rgb(255, 255, 255);
}

:root {
  --action-link-color: rgb(56, 97, 229);
}

:root {
  --input-base-bg-color: rgb(255, 255, 255);
  --input-form-button-bg-color: rgb(255, 255, 255);
}

.is-dark {
  --input-base-focus-color: rgb(56, 97, 229);
  --input-inverted-focus-color: rgb(56, 97, 229);
}

:root {
  --hero-bg-color: rgb(255, 255, 255);
}

:root {
  --section-bg-color: rgb(255, 255, 255);
}

:root {
  --footer-light-bg-color: rgb(255, 255, 255);
  --footer-light-link-color-hover: rgb(56, 97, 229);
  --footer-dark-bg-color: rgb(40, 50, 82);
}

:root {
  --navbar-bg-color: rgb(255, 255, 255);
  --navbar-bg-color-solid: rgb(255, 255, 255);
}

a {
  color: rgb(72, 95, 199);
}

.button.is-ghost {
  color: rgb(72, 95, 199);
}

.button.is-ghost:hover,
.button.is-ghost.is-hovered {
  color: rgb(72, 95, 199);
}

.button.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link:hover,
.button.is-link.is-hovered {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link:focus,
.button.is-link.is-focused {
  color: rgb(255, 255, 255);
}

.button.is-link:active,
.button.is-link.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link[disabled],
fieldset[disabled] .button.is-link {
  background-color: rgb(72, 95, 199);
}

.button.is-link.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

.button.is-link.is-inverted:hover,
.button.is-link.is-inverted.is-hovered {
  background-color: rgb(255, 255, 255);
}

.button.is-link.is-inverted[disabled],
fieldset[disabled] .button.is-link.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

.button.is-link.is-outlined {
  border-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.button.is-link.is-outlined:hover,
.button.is-link.is-outlined.is-hovered,
.button.is-link.is-outlined:focus,
.button.is-link.is-outlined.is-focused {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-outlined {
  border-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.button.is-link.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.button.is-link.is-inverted.is-outlined:hover,
.button.is-link.is-inverted.is-outlined.is-hovered,
.button.is-link.is-inverted.is-outlined:focus,
.button.is-link.is-inverted.is-outlined.is-focused {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

.button.is-link.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.button.is-link.is-light {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.button.is-link.is-light:hover,
.button.is-link.is-light.is-hovered {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.button.is-link.is-light:active,
.button.is-link.is-light.is-active {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.notification.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.notification.is-link.is-light {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.progress.is-link::-webkit-progress-value {
  background-color: rgb(72, 95, 199);
}

.progress.is-link::-moz-progress-bar {
  background-color: rgb(72, 95, 199);
}

.progress.is-link::-ms-fill {
  background-color: rgb(72, 95, 199);
}

.table td.is-link,
.table th.is-link {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.tag:not(body).is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.tag:not(body).is-link.is-light {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.is-active,
.is-active.textarea,
.is-active.input {
  border-color: rgb(72, 95, 199);
}

.is-link.textarea,
.is-link.input {
  border-color: rgb(72, 95, 199);
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: rgb(72, 95, 199);
}

.select.is-link:not(:hover)::after {
  border-color: rgb(72, 95, 199);
}

.select.is-link select {
  border-color: rgb(72, 95, 199);
}

.select.is-link select:hover,
.select.is-link select.is-hovered {
  border-color: rgb(72, 95, 199);
}

.file.is-link .file-cta {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.file.is-link:hover .file-cta,
.file.is-link.is-hovered .file-cta {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.file.is-link:focus .file-cta,
.file.is-link.is-focused .file-cta {
  color: rgb(255, 255, 255);
}

.file.is-link:active .file-cta,
.file.is-link.is-active .file-cta {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.help.is-link {
  color: rgb(72, 95, 199);
}

.breadcrumb a {
  color: rgb(72, 95, 199);
}

a.dropdown-item.is-active,
button.dropdown-item.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.menu-list a.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.message.is-link {
  background-color: rgb(239, 241, 250);
}

.message.is-link .message-header {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.message.is-link .message-body {
  border-color: rgb(72, 95, 199);
  color: rgb(56, 79, 184);
}

.navbar.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-brand > .navbar-item,
.navbar.is-link .navbar-brand .navbar-link {
  color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-brand > a.navbar-item:focus,
.navbar.is-link .navbar-brand > a.navbar-item:hover,
.navbar.is-link .navbar-brand > a.navbar-item.is-active,
.navbar.is-link .navbar-brand .navbar-link:focus,
.navbar.is-link .navbar-brand .navbar-link:hover,
.navbar.is-link .navbar-brand .navbar-link.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-brand .navbar-link::after {
  border-color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-burger {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 1024px) {
  .navbar.is-link .navbar-start > .navbar-item,
  .navbar.is-link .navbar-start .navbar-link,
  .navbar.is-link .navbar-end > .navbar-item,
  .navbar.is-link .navbar-end .navbar-link {
    color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-start > a.navbar-item:focus,
  .navbar.is-link .navbar-start > a.navbar-item:hover,
  .navbar.is-link .navbar-start > a.navbar-item.is-active,
  .navbar.is-link .navbar-start .navbar-link:focus,
  .navbar.is-link .navbar-start .navbar-link:hover,
  .navbar.is-link .navbar-start .navbar-link.is-active,
  .navbar.is-link .navbar-end > a.navbar-item:focus,
  .navbar.is-link .navbar-end > a.navbar-item:hover,
  .navbar.is-link .navbar-end > a.navbar-item.is-active,
  .navbar.is-link .navbar-end .navbar-link:focus,
  .navbar.is-link .navbar-end .navbar-link:hover,
  .navbar.is-link .navbar-end .navbar-link.is-active {
    background-color: rgb(72, 95, 199);
    color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-start .navbar-link::after,
  .navbar.is-link .navbar-end .navbar-link::after {
    border-color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(72, 95, 199);
    color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(72, 95, 199);
    color: rgb(255, 255, 255);
  }
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: rgb(72, 95, 199);
}

.navbar-item.is-tab:focus,
.navbar-item.is-tab:hover {
  border-bottom-color: rgb(72, 95, 199);
}

.navbar-item.is-tab.is-active {
  border-bottom-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.navbar-link:not(.is-arrowless)::after {
  border-color: rgb(72, 95, 199);
}

@media screen and (min-width: 1024px) {
  .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
    color: rgb(72, 95, 199);
  }

  .navbar-dropdown a.navbar-item.is-active {
    color: rgb(72, 95, 199);
  }
}

.pagination-link.is-current {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.panel.is-link .panel-heading {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.panel.is-link .panel-tabs a.is-active {
  border-bottom-color: rgb(72, 95, 199);
}

.panel.is-link .panel-block.is-active .panel-icon {
  color: rgb(72, 95, 199);
}

.panel-list a:hover {
  color: rgb(72, 95, 199);
}

.panel-block.is-active {
  border-left-color: rgb(72, 95, 199);
}

.panel-block.is-active .panel-icon {
  color: rgb(72, 95, 199);
}

.tabs li.is-active a {
  border-bottom-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.tabs.is-toggle li.is-active a {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.hero.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.hero.is-link .title {
  color: rgb(255, 255, 255);
}

.hero.is-link .subtitle {
  color: rgb(255, 255, 255);
}

.hero.is-link .subtitle a:not(.button),
.hero.is-link .subtitle strong {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1023px) {
  .hero.is-link .navbar-menu {
    background-color: rgb(72, 95, 199);
  }
}

.hero.is-link .navbar-item,
.hero.is-link .navbar-link {
  color: rgb(255, 255, 255);
}

.hero.is-link a.navbar-item:hover,
.hero.is-link a.navbar-item.is-active,
.hero.is-link .navbar-link:hover,
.hero.is-link .navbar-link.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.hero.is-link .tabs a {
  color: rgb(255, 255, 255);
}

.hero.is-link .tabs.is-boxed a,
.hero.is-link .tabs.is-toggle a {
  color: rgb(255, 255, 255);
}

.hero.is-link .tabs.is-boxed li.is-active a,
.hero.is-link .tabs.is-boxed li.is-active a:hover,
.hero.is-link .tabs.is-toggle li.is-active a,
.hero.is-link .tabs.is-toggle li.is-active a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

a {
  color: rgb(72, 95, 199);
}

.button.is-ghost {
  color: rgb(72, 95, 199);
}

.button.is-ghost:hover,
.button.is-ghost.is-hovered {
  color: rgb(72, 95, 199);
}

.button.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link:hover,
.button.is-link.is-hovered {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link:focus,
.button.is-link.is-focused {
  color: rgb(255, 255, 255);
}

.button.is-link:active,
.button.is-link.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link[disabled],
fieldset[disabled] .button.is-link {
  background-color: rgb(72, 95, 199);
}

.button.is-link.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

.button.is-link.is-inverted:hover,
.button.is-link.is-inverted.is-hovered {
  background-color: rgb(255, 255, 255);
}

.button.is-link.is-inverted[disabled],
fieldset[disabled] .button.is-link.is-inverted {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

.button.is-link.is-outlined {
  border-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.button.is-link.is-outlined:hover,
.button.is-link.is-outlined.is-hovered,
.button.is-link.is-outlined:focus,
.button.is-link.is-outlined.is-focused {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.button.is-link.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-outlined {
  border-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.button.is-link.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.button.is-link.is-inverted.is-outlined:hover,
.button.is-link.is-inverted.is-outlined.is-hovered,
.button.is-link.is-inverted.is-outlined:focus,
.button.is-link.is-inverted.is-outlined.is-focused {
  background-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

.button.is-link.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-inverted.is-outlined {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.button.is-link.is-light {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.button.is-link.is-light:hover,
.button.is-link.is-light.is-hovered {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.button.is-link.is-light:active,
.button.is-link.is-light.is-active {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.notification.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.notification.is-link.is-light {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.progress.is-link::-webkit-progress-value {
  background-color: rgb(72, 95, 199);
}

.progress.is-link::-moz-progress-bar {
  background-color: rgb(72, 95, 199);
}

.progress.is-link::-ms-fill {
  background-color: rgb(72, 95, 199);
}

.table td.is-link,
.table th.is-link {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.tag:not(body).is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.tag:not(body).is-link.is-light {
  background-color: rgb(239, 241, 250);
  color: rgb(56, 79, 184);
}

.input:focus,
.textarea:focus,
.select select:focus,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.input:active,
.textarea:active,
.select select:active,
.is-active.input,
.is-active.textarea,
.select select.is-active {
  border-color: rgb(72, 95, 199);
}

.is-link.input,
.is-link.textarea {
  border-color: rgb(72, 95, 199);
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: rgb(72, 95, 199);
}

.select.is-link:not(:hover)::after {
  border-color: rgb(72, 95, 199);
}

.select.is-link select {
  border-color: rgb(72, 95, 199);
}

.select.is-link select:hover,
.select.is-link select.is-hovered {
  border-color: rgb(72, 95, 199);
}

.file.is-link .file-cta {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.file.is-link:hover .file-cta,
.file.is-link.is-hovered .file-cta {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.file.is-link:focus .file-cta,
.file.is-link.is-focused .file-cta {
  color: rgb(255, 255, 255);
}

.file.is-link:active .file-cta,
.file.is-link.is-active .file-cta {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.help.is-link {
  color: rgb(72, 95, 199);
}

.breadcrumb a {
  color: rgb(72, 95, 199);
}

a.dropdown-item.is-active,
button.dropdown-item.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.menu-list a.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.message.is-link {
  background-color: rgb(239, 241, 250);
}

.message.is-link .message-header {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.message.is-link .message-body {
  border-color: rgb(72, 95, 199);
  color: rgb(56, 79, 184);
}

.navbar.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-brand > .navbar-item,
.navbar.is-link .navbar-brand .navbar-link {
  color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-brand > a.navbar-item:focus,
.navbar.is-link .navbar-brand > a.navbar-item:hover,
.navbar.is-link .navbar-brand > a.navbar-item.is-active,
.navbar.is-link .navbar-brand .navbar-link:focus,
.navbar.is-link .navbar-brand .navbar-link:hover,
.navbar.is-link .navbar-brand .navbar-link.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-brand .navbar-link::after {
  border-color: rgb(255, 255, 255);
}

.navbar.is-link .navbar-burger {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 1024px) {
  .navbar.is-link .navbar-start > .navbar-item,
  .navbar.is-link .navbar-start .navbar-link,
  .navbar.is-link .navbar-end > .navbar-item,
  .navbar.is-link .navbar-end .navbar-link {
    color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-start > a.navbar-item:focus,
  .navbar.is-link .navbar-start > a.navbar-item:hover,
  .navbar.is-link .navbar-start > a.navbar-item.is-active,
  .navbar.is-link .navbar-start .navbar-link:focus,
  .navbar.is-link .navbar-start .navbar-link:hover,
  .navbar.is-link .navbar-start .navbar-link.is-active,
  .navbar.is-link .navbar-end > a.navbar-item:focus,
  .navbar.is-link .navbar-end > a.navbar-item:hover,
  .navbar.is-link .navbar-end > a.navbar-item.is-active,
  .navbar.is-link .navbar-end .navbar-link:focus,
  .navbar.is-link .navbar-end .navbar-link:hover,
  .navbar.is-link .navbar-end .navbar-link.is-active {
    background-color: rgb(72, 95, 199);
    color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-start .navbar-link::after,
  .navbar.is-link .navbar-end .navbar-link::after {
    border-color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgb(72, 95, 199);
    color: rgb(255, 255, 255);
  }

  .navbar.is-link .navbar-dropdown a.navbar-item.is-active {
    background-color: rgb(72, 95, 199);
    color: rgb(255, 255, 255);
  }
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  color: rgb(72, 95, 199);
}

.navbar-item.is-tab:focus,
.navbar-item.is-tab:hover {
  border-bottom-color: rgb(72, 95, 199);
}

.navbar-item.is-tab.is-active {
  border-bottom-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.navbar-link:not(.is-arrowless)::after {
  border-color: rgb(72, 95, 199);
}

@media screen and (min-width: 1024px) {
  .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
    color: rgb(72, 95, 199);
  }

  .navbar-dropdown a.navbar-item.is-active {
    color: rgb(72, 95, 199);
  }
}

.pagination-link.is-current {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.panel.is-link .panel-heading {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.panel.is-link .panel-tabs a.is-active {
  border-bottom-color: rgb(72, 95, 199);
}

.panel.is-link .panel-block.is-active .panel-icon {
  color: rgb(72, 95, 199);
}

.panel-list a:hover {
  color: rgb(72, 95, 199);
}

.panel-block.is-active {
  border-left-color: rgb(72, 95, 199);
}

.panel-block.is-active .panel-icon {
  color: rgb(72, 95, 199);
}

.tabs li.is-active a {
  border-bottom-color: rgb(72, 95, 199);
  color: rgb(72, 95, 199);
}

.tabs.is-toggle li.is-active a {
  background-color: rgb(72, 95, 199);
  border-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.hero.is-link {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.hero.is-link .title {
  color: rgb(255, 255, 255);
}

.hero.is-link .subtitle {
  color: rgb(255, 255, 255);
}

.hero.is-link .subtitle a:not(.button),
.hero.is-link .subtitle strong {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1023px) {
  .hero.is-link .navbar-menu {
    background-color: rgb(72, 95, 199);
  }
}

.hero.is-link .navbar-item,
.hero.is-link .navbar-link {
  color: rgb(255, 255, 255);
}

.hero.is-link a.navbar-item:hover,
.hero.is-link a.navbar-item.is-active,
.hero.is-link .navbar-link:hover,
.hero.is-link .navbar-link.is-active {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.hero.is-link .tabs a {
  color: rgb(255, 255, 255);
}

.hero.is-link .tabs.is-boxed a,
.hero.is-link .tabs.is-toggle a {
  color: rgb(255, 255, 255);
}

.hero.is-link .tabs.is-boxed li.is-active a,
.hero.is-link .tabs.is-boxed li.is-active a:hover,
.hero.is-link .tabs.is-toggle li.is-active a,
.hero.is-link .tabs.is-toggle li.is-active a:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(72, 95, 199);
}

.pageloader.is-link {
  background-color: rgb(72, 95, 199);
  background: rgb(72, 95, 199);
}

.pageloader.is-link::after {
  border-color: rgb(255, 255, 255);
}

.pageloader.is-link .title {
  color: rgb(255, 255, 255);
}

.pricing-table .pricing-plan.is-link .plan-price .plan-price-amount {
  color: rgb(72, 95, 199);
}

.pricing-table .pricing-plan.is-link .plan-footer .button {
  background-color: rgb(72, 95, 199);
  color: rgb(255, 255, 255);
}

.pricing-table .pricing-plan.is-link .plan-footer .button:hover,
.pricing-table .pricing-plan.is-link .plan-footer .button.is-hovered {
  background-color: rgb(62, 87, 196);
  color: rgb(255, 255, 255);
}

.pricing-table .pricing-plan.is-link .plan-footer .button:focus,
.pricing-table .pricing-plan.is-link .plan-footer .button.is-focused {
  color: rgb(255, 255, 255);
}

.pricing-table .pricing-plan.is-link .plan-footer .button:active,
.pricing-table .pricing-plan.is-link .plan-footer .button.is-active {
  background-color: rgb(58, 81, 188);
  color: rgb(255, 255, 255);
}

.pricing-table .pricing-plan.is-link .plan-footer .button[disabled] {
  background-color: rgb(72, 95, 199);
}

.default-link {
  color: rgb(56, 97, 229);
}

.default-link:hover {
  color: rgb(56, 97, 229);
}

.navbar .navbar-item:hover {
  color: rgb(56, 97, 229);
}

.navbar .navbar-item.has-dropdown .navbar-link:hover {
  color: rgb(56, 97, 229);
}

.navbar .navbar-item > .social-item:hover {
  color: rgb(56, 97, 229);
}

.button.is-primary {
  color: rgb(255, 255, 255);
}

.button.is-primary.is-outlined:hover {
  color: rgb(255, 255, 255);
}

.button.is-secondary:hover {
  color: rgb(255, 255, 255);
}

.button.is-secondary.is-outlined:hover {
  color: rgb(255, 255, 255);
}

.button.is-info:hover {
  color: rgb(255, 255, 255);
}

.button.is-info.is-outlined:hover {
  color: rgb(255, 255, 255);
}

.button.is-success:hover {
  color: rgb(255, 255, 255);
}

.button.is-success.is-outlined:hover {
  color: rgb(255, 255, 255);
}

.button.is-warning:hover {
  color: rgb(255, 255, 255);
}

.button.is-warning.is-outlined:hover {
  color: rgb(255, 255, 255);
}

.button.is-danger:hover {
  color: rgb(255, 255, 255);
}

.button.is-danger.is-outlined:hover {
  color: rgb(255, 255, 255);
}

.card .card-footer .card-footer-item:hover {
  color: rgb(56, 97, 229);
}

.control.has-icon .input:focus ~ .form-icon {
  color: rgb(56, 97, 229);
}

.f-switch.is-primary input:checked + i {
  background-color: rgb(56, 97, 229);
}

.f-switch.is-success input:checked + i {
  background-color: rgb(6, 214, 158);
}

.f-switch.is-info input:checked + i {
  background-color: rgb(3, 152, 226);
}

.f-switch.is-warning input:checked + i {
  background-color: rgb(250, 173, 66);
}

.f-switch.is-danger input:checked + i {
  background-color: rgb(230, 41, 100);
}

.f-switch i::before {
  background-color: rgb(255, 255, 255);
}

.f-switch i::after {
  background-color: rgb(255, 255, 255);
}

.f-switch input:checked + i {
  background-color: rgb(6, 214, 158);
}

.ninja-toggle input:checked + label span.track .track-knob {
  background: rgb(56, 97, 229);
  border-color: rgb(56, 97, 229);
}

.ninja-toggle input:checked + label span.track .track-knob svg.moon {
  stroke: rgb(255, 255, 255);
}

.ninja-toggle label span.track .track-knob {
  background: rgb(255, 255, 255);
}

.ninja-toggle label span.track .track-knob i {
  color: rgb(255, 255, 255);
}