/*! _brands.scss | HR | Css ninja 2020-2021 */

/*
    1. Brand Colors
*/

/* ==========================================================================
1. Brand Colors
========================================================================== */

$javascript: #F7DF1E;
$angular: #DD1B16;
$reactjs: #00d8ff;
$android: #a4c639;
$swift: #ef3e31;
$vuejs: #4dba87;
$wordpress: #21759b;
$csharp: #9a4993;
$nodejs: #6cc24a;
$html: #F16529;

$facebook: #3B5998;
$twitter: #1dcaff;
$linkedin: #007bb6;
$tumblr: #35465c;
$github: #444;
$dribbble: #ea4c89;
$google-plus: #d34836;
$youtube: #cc181e;
$reddit: #ff4500;
$invision: #ff3366;
$amazon: #FF9900;
$instagram: #e1306c;