/*! _typography.scss | HR | Css ninja 2020-2021 */

/*
    1. Titles
    2. Typography Helpers
*/

/* ==========================================================================
1. Titles
========================================================================== */



body {
    font-family: $font;
    color: $dark-text;
}

var {
    font-style: normal;
}

a:not(.button):not(.navbar-link):not(.navbar-item):not(.social-item):not(.footer-link):not(.default-link):not(.card-footer-item):not(.tab-item):not(.header-link) {
    font-family: $font;
    color: $primary;
    transition: all .3s;

    &:hover {
        color: $primary;
        opacity: .7;
    }
}

.title {
    font-family: $font-alt;
    color: $dark-text;

    &.is-0 {
        font-size: 4rem;
    }

    &.is-narrow {
        margin-bottom: 0 !important;
    }

    &.is-thin {
        font-weight: 300;
    }

    &.is-heavy {
        font-weight: 600;
    }

    &.is-bold {
        font-weight: 700;
    }

    &.is-bolder {
        font-weight: 800;
    }
}

.subtitle {
    font-family: $font;
    color: $medium-text;

    &.is-narrow {
        margin-bottom: 0 !important;
    }

    &.is-thin {
        font-weight: 300;
    }

    &.is-heavy {
        font-weight: 600;
    }

    &.is-bold {
        font-weight: 700;
    }

    &.is-bolder {
        font-weight: 800;
    }
}

.content {
    p {
        font-family: $font;
    }
}

.separator {
    width: 1px;
    height: 26px;
    border-right: 1px solid $border;
}

hr {
    height: 1px;

    &.is-darker {
        background: $fade-grey;
    }
}

/* ==========================================================================
2. Typography Helpers
========================================================================== */

.text-light {
    color: $light-text !important;
}

.text-medium {
    color: $medium-text !important;
}

.text-dark {
    color: $dark-text !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.is-font {
    font-family: $font;
}

.is-font-alt {
    font-family: $font-alt !important;
}

.is-weight-300 {
    font-weight: 300 !important;
}

.is-weight-400 {
    font-weight: 400 !important;
}

.is-weight-500 {
    font-weight: 500 !important;
}

.is-weight-600 {
    font-weight: 600 !important;
}

.is-weight-700 {
    font-weight: 700 !important;
}

.is-weight-500 {
    font-weight: 500 !important;
}

.is-weight-900 {
    font-weight: 900 !important;
}

.rem-70 {
    font-size: .7rem !important;
}

.rem-75 {
    font-size: .75rem !important;
}

.rem-80 {
    font-size: .8rem !important;
}

.rem-85 {
    font-size: .85rem !important;
}

.rem-90 {
    font-size: .9rem !important;
}

.rem-95 {
    font-size: .95rem !important;
}

.rem-100 {
    font-size: 1rem !important;
}

.rem-115 {
    font-size: 1.15rem !important;
}

.rem-125 {
    font-size: 1.25rem !important;
}

.rem-150 {
    font-size: 1.5rem !important;
}
