<footer class="footer footer-left">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-8">
                <div class="is-flex d-column-mobile d-column-tablet-p is-align-items-center">
                    <a class="footer-logo-left is-square" href="#">
                        <img src="/img/logo/logo.svg" alt="">
                    </a>
                    <ul class="py-2">
                        <li class="inline-block px-2">
                            <a class="footer-link" href="employees.html">Explore</a>
                        </li>
                        <li class="inline-block px-2">
                            <a href="https://cssninja.io/" class="footer-link">Help</a>
                        </li>
                        <li class="inline-block px-2">
                            <a href="https://cssninja.io/contact" class="footer-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-4 has-text-centered">
                <p class="subtitle footer-text medium:text-right is-6" data-config-id="copyright">© 2020-2021 CSS Ninja. All
                    rights
                    reserved.</p>
            </div>
        </div>
    </div>
</footer>